{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Check Health | Stay on Top of Your Health</title>
        <link rel="icon" href="{% static 'Icons/check health title icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Normalize elements -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    </head>
    <body>
        <!-- Start Header -->
        <header id="header">
            <div class="container">
                <div class="title">
                    <h1 class="first">Check</h1>
                    <h1 class="second">Health</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="#specialize">Specializations</a></li>
                        <li><a href="#about">About Us</a></li>
                    </ul>
                </nav>
                <a class ="sign" href="{% url 'signup' %}" target="_blank">Sign Up<a>
                <a class ="login" href="{% url 'login' %}" target="_blank">Login<a>
            </div>
        </header>
        <!-- End Header -->
        <!-- Start Hero section -->
        <div class="hero-section">
            <div class="container">
                <img src="{% static 'Images/freepik image .jpg' %}" alt="">
                <p>Connect with Experienced Healthcare<span> Professionals</span>  Anytime, No Matter Your Location</p>
            </div>
        </div>
        <!-- End Hero section -->
        <!-- Start Specializations -->
        <div class="specializations" id="specialize">
            <h2>Specialties</h2>
            <div class="container">
                <a href="{% url 'dermatology' %}" target="_blank" class="dermatology">
                    <img src="{% static 'Images/specializations/dermatology.png' %}" alt="Dermatology photo">
                    <p>Dermatology</p>
                </a>
                <a href="{% url 'psychiatry' %}" target="_blank" class="psychiatry">
                    <img src="{% static 'Images/specializations/psychiatry.png' %}" alt="Psychiatry photo">
                    <p>Psychiatry</p>
                </a>
                <a href="{% url 'nutrition-dietetics' %}" target="_blank" class="nutrition">
                    <img src="{% static 'Images/specializations/Nutrition & Dietetics.png' %}" alt="Nutrition & Dietetics photo">
                    <p>Nutrition & Dietetics</p>
                </a>
                <a href="{% url 'cardiology' %}" target="_blank" class="cardiology">
                    <img src="{% static 'Images/specializations/cardiology.png' %}" alt="Cardiology photo">
                    <p>Cardiology</p>
                </a>
                <a href="{% url 'orthopedics' %}" target="_blank" class="orthopedics">
                    <img src="{% static 'Images/specializations/orthopedics.png' %}" alt="Orthopedics photo">
                    <p>Orthopedics</p>
                </a>
                <a href="{% url 'pulmonology' %}" target="_blank" class="pulmonology">
                    <img src="{% static 'Images/specializations/pulmonology.png' %}" alt="Pulmonology photo">
                    <p>Pulmonology</p>
                </a>
            </div>
        </div>
        <!-- End Specializations -->
        <!-- Start About -->
        <div class="about" id="about">
            <div class="container">
                <p>
                    Check <span>Health</span> is dedicated to bridging the gap between patients and healthcare professionals worldwide. 
                    We believe everyone deserves access to quality medical care, regardless of location or schedule. 
                    Our platform connects patients with qualified doctors for online consultations, 
                    eliminating the need for in-person clinic visits. We're committed to making healthcare more accessible, convenient, 
                    and efficient.
                </p>
            </div>
        </div>
        <!-- End About -->
        <!-- Start Footer -->
        <footer>
            <div class="container">
                <div class="title">
                    <h1 class="first">Check</h1>
                    <h1 class="second">Health</h1>
                </div>
                <div class="links">
                    <div class="specialize">
                        <a href="{% url 'dermatology' %}" target="_blank">Dermatology</a>
                        <a href="{% url 'psychiatry' %}" target="_blank">Psychiatry</a>
                        <a href="{% url 'nutrition-dietetics' %}" target="_blank">Nutrition & Dietetics</a>
                        <a href="{% url 'cardiology' %}" target="_blank">Cardiology</a>
                        <a href="{% url 'orthopedics' %}" target="_blank">Orthopedics</a>
                        <a href="{% url 'pulmonology' %}" target="_blank">Pulmonology</a>
                    </div>
                    <div class="other">
                        <a href="#header">Home</a>
                        <a href="#about">About us</a>
                    </div>
                </div>
                <p>&copy; 2025 Check <span>Health</span>. All rights reserved.</p>
                
            </div>
        </footer>
        <script src="{% static 'script.js' %}"></script>
        <!-- End Footer -->
    </body>
</html>